.container-fluid
  .row-fluid
    .span3.date-picker
      .date-picker-content
        %p
          Search the Finest Hotels
        = form_tag new_booking_path, method: :get, class: 'date-picker-select' do
          = text_field_tag :destination, nil, placeholder: 'Destination'
          = text_field_tag :from, nil, placeholder: 'Check In'
          = text_field_tag :to, nil,  placeholder: 'Check Out'
          = submit_tag 'Search', name: nil, class: 'btn'
    .span9.search-results
      .row-fluid
        .span12
          %h2
            - if @query.empty?
              Showing all hotels -
              = Hotel.all.count
              matches found
            - else
              Search results for
              %b #{@query}
              \-
              = @results.count
              Matches Found
      = render partial: 'shared/pagination', locals: { results: @results } unless @results == nil
      .row-fluid
        .span12
          - if @results != nil
            - @results.each do |hotel|
              = render partial: 'hotels/hotel_module', locals: { hotel: hotel }
          - else
            %p
              No hotels could be found.
      = render partial: 'shared/pagination', locals: { results: @results } unless @results == nil
