.container-fluid
  %h1 Admin Control Page
  = link_to 'Front Page', root_path
  - if user_signed_in?
    %p
      Currently signed in as
      = current_user.email
      - if current_user.admin == true
        %span.text-success
          \[admin]
    = link_to 'Log out', destroy_user_session_path, method: 'delete'
    %br
  %br
  .row-fluid.primary-controls
    .span6
      %h2 Build Hotel Database
      = simple_form_for @miner, url: url_for(controller: 'miners', action: 'mine_hotels'), html: { class: 'form-horizontal'}  do |f|
        = f.input :citySelect, as: :text, label: 'City Name', placeholder: 'e.g. Bangkok', input_html: { rows: 1 }
        = f.input :countryCode, as: :text,  label: 'Country Code', placeholder: 'e.g. TH', input_html: { rows: 1 }
        = f.input :limitSelect, as: :text, label: 'Max Limit (0 is no limit)', placeholder: 'e.g. 50', input_html: { rows: 1 }
        = f.input :starRating, as: :text, label: 'Min Star Rating', placeholder: 'e.g. 4.5', input_html: { rows: 1 }
        .form-actions
          = f.button :submit, 'Build Hotels', class: 'btn btn-success'
    .span6
      %h2 Destroy Hotels
      = simple_form_for @miner, :url => url_for(:controller => 'miners', :action => 'destroy_hotels'), html: { class: 'form-horizontal' } do |f|
        = f.input :citySelect, as: :text, label: 'City Name', placeholder: 'e.g. Bangkok', input_html: { rows: 1 }
        = f.input :countryCode, as: :text,  label: 'Country Code', placeholder: 'e.g. TH', input_html: { rows: 1 }
        = f.input :limitSelect, as: :text, label: 'Max Limit (0 is no limit)', placeholder: 'e.g. 50', input_html: { rows: 1 }
        = f.input :starRating, as: :text, label: 'Min Star Rating', placeholder: 'e.g. 4.5', input_html: { rows: 1 }
        .form-actions
          = f.button :submit, 'Destroy Hotels', class: 'btn btn-danger'
  %br
  .row-fluid
    .span12
      = button_to 'Reconstruct All Hotels', admin_construct_hotels_path, class: 'btn btn-info'
  .row-fluid
    .span12
      = button_to 'Destroy All Hotels', { action: 'destroy_all_hotels', controller: 'miners' },  class: 'btn btn-danger'
