%h1 Admin Control Page
= link_to "Front Page", root_path

- if user_signed_in?
  %p
    Currently signed in as
    = current_user.email
    - if current_user.admin == true
      %span.text-success
        \[admin]
  = link_to "Log out", destroy_user_session_path, :method => "delete"
  %br

%br
.row
  .span12
    .divider-div
%br
.row
  .span6
    %h2 Database Info
    - if Hotel.empty?
      %p There are no hotels
    - else
      %table.table.table-striped
        %thead
          %tr
            %th City
            %th Country
            %th Hotels
            %th Star Ratings
        %tbody
          - city_array = Array.new
          - Hotel.all.each do |f|
            - city_array << f.HotelSummary['city']
          - city_array.uniq.each do |f|
            %tr
              %td
                = f.to_s
              %td
                = Hotel.where("HotelSummary.city" => f).first.HotelSummary['countryCode']
              %td
                = Hotel.where("HotelSummary.city" => f).count
              %td
                - star_ratings = Array.new
                - Hotel.where("HotelSummary.city" => f).each do |f|
                  - star_ratings << f.HotelSummary['hotelRating']
                = star_ratings.uniq.join(", ").to_s

  .span6
    / empty space

.row
  .span12
    .divider-div
.row.primary-controls
  .span6
    %h2 Build Hotel Database
    = form_for @miner, :url => url_for(:controller => 'miners', :action => 'mine_hotels') do |f|
      %p
        - if @miner.errors.any?
          .error_messages
            %h2
              = pluralize(@miner.errors.count, "error")
              prohibited this message from being saved:
            %ul
              - @miner.errors.full_messages.each do |msg|
                %li= msg
        .row
          .span12
            = f.label :citySelect, "City Name"
            = f.text_field :citySelect, placeholder: "e.g. Bangkok"
        .row
          .span12
            = f.label :countryCode, "Country Code"
            = f.text_field :countryCode, placeholder: "e.g. TH"
        .row
          .span12
            = f.label :limitSelect, "Max Limit (0 is no limit)"
            = f.text_field :limitSelect, placeholder: "e.g. 50"
        .row
          .span12
            = f.label :starRating, "Min Star Rating"
            = f.text_field :starRating, placeholder: "e.g. 4.5"
        .row
          .span12
            = f.submit "Build Hotels", class: "btn btn-success"
  .span6
    %h2 Destroy Hotels
    = form_for @miner, :url => url_for(:controller => 'miners', :action => 'destroy_hotels') do |f|
      %p
        - if @miner.errors.any?
          .error_messages
            %h2
              = pluralize(@miner.errors.count, "error")
              prohibited this message from being saved:
            %ul
              - @miner.errors.full_messages.each do |msg|
                %li= msg
        .row
          .span12
            = f.label :citySelect, "City Name"
            = f.text_field :citySelect, placeholder: "e.g. Bangkok"
        .row
          .span12
            = f.label :countryCode, "Country Code"
            = f.text_field :countryCode, placeholder: "e.g. TH"
        .row
          .span12
            = f.label :limitSelect, "Number of Hotels"
            = f.text_field :limitSelect, placeholder: "e.g. 50"
        .row
          .span12
            = f.label :starRating, "Min Star Rating"
            = f.text_field :starRating, placeholder: "e.g. 4.5"
        .row
          .span12
            = f.submit "Destroy Hotels", class: "btn btn-danger"

.row
  .span12
    .divider-div

%br
.row
  .span12
    = button_to "Reconstruct All Hotels", admin_construct_hotels_path, :class => "btn btn-info"

.row
  .span12
    .divider-div

.row
  .span12
    .lead.danger-box
      Remove all hotels
      = button_to "Destroy All Hotels", {:action => "destroy_all_hotels", :controller => "miners"},  :class => 'btn btn-danger'
