%a{href: hotel['deepLink']}
  .row-fluid.hotel-module.panel-row
    .span6
      - thumb_url = "http://images.travelnow.com#{hotel['thumbNailUrl']}"
      - large_url = thumb_url.sub('_t.', '_b.')
      = image_tag large_url, alt: hotel['name']
    .span6.description
      %p.headline
        = truncate(CGI::unescapeHTML(hotel['name']).html_safe, length: 40)
        %span
          - if hotel['stateProvinceCode']
            = "#{hotel['city']}, #{hotel['stateProvinceCode']}"
          - else
            = hotel['city']
      .module-divider
      %p.info
        = truncate(CGI::unescapeHTML(hotel['locationDescription']).html_safe, length: 200)
        - if hotel['tripAdvisorRating'] != nil
          \- rated
          %b
            #{hotel['tripAdvisorRating']}
          on TripAdvisor
      .module-divider
      .price
        %p
          from
          %b
            = "#{'$' + number_with_precision(hotel['lowRate'], :precision => 0)}"
          per night
      %p.follow-details
        View Details →
