.container-fluid.home
  .row-fluid.panel-row
    .span3.date-picker
      .date-picker-content
        %p
          Search the Finest Hotels
    .span9.hotel-leader
      %a{href: hotel_path(@leader.id)}
        - b_url = @leader['HotelImages']['HotelImage'][4]['url']
        - z_url = b_url.sub('_b', '_z')
        = image_tag z_url, alt: @leader['HotelSummary']['name']
        .info
          %p
            = @leader['HotelSummary']['name'].sub(/,(.*)/, '')
            = @leader.city.name
          = image_tag 'right-arrow.png', alt: 'right arrow'
          .details
            %p
              from
              %b
                = "#{'$' + number_with_precision(@leader.HotelSummary['lowRate'], :precision => 0)}"
              per night
  .row-fluid.panel-row
    .span8.welcome
      = image_tag 'travel-circle.png', alt: 'luxhotels travel'
      .text
        %p
          %span Welcome to Luxhotels
        Luxhotels provides a way to find the highest quality, most luxurious hotels around the world. Browse through a range of premium hotels,
        and book your stay through the website's easy to use interface.
    .span4.newsletter
      %h2
        Sign up for our Newsletter
      %p
        Receive news, offers, and travel ideas across a range of global destinations.
      = form_tag newsletter_subscribe_path, method: :post, class: 'navbar-form' do
        = text_field_tag :newsletter, nil, placeholder: 'email@example.com'
        = submit_tag 'Sign Up', name: nil, class: 'btn'

  .row-fluid
    .span2.side-bar
    .span10.main-content
      = render partial: 'shared/pagination', locals: { results: @hotels } unless @hotels == nil
      .all-deals
        = render 'hotel_modules'
      = render partial: 'shared/pagination', locals: { results: @hotels } unless @hotels == nil
