%h1 Hotels
%br
= button_to "Create a hotel", new_hotel_path, :method => "get", :class => "btn btn-large btn-primary"
%h1 All Hotels
%p.lead
  = @hotels.count
  hotels
.hotel-list
  - @hotels.each do |f|
    %b Name:
    = f.HotelSummary['name']
    ,
    %b Rating:
    = f.HotelSummary['hotelRating']
    %br
    %img{:src => f.HotelImages['HotelImage'][1]['thumbnailUrl']}

%br
= link_to "Admin Interface", admin_path
%br
%br
