- content_for :javascript do
  :javascript
    Galleria.configure({
        overlayBackground: '#e52828'
    });
    Galleria.run('#galleria');

.container-fluid
  .row-fluid
    .span12
      %ul.breadcrumb
        %li
          = link_to 'Home', root_path
          %span.divider
            \/
        %li
          = link_to 'Countries', countries_path
          %span.divider
            \/
        %li
          = link_to @country.name, country_path(@country)
          %span.divider
            \/
        %li
          = link_to @city.name, city_path(@city)
          %span.divider
            \/
        %li.active
          = CGI::unescapeHTML(@hotel.HotelSummary['name'])
  .row-fluid
    .span9.main-content.hotel-view
      .hotel-content
        %h2
          = CGI::unescapeHTML(@hotel.HotelSummary['name'])
          %span
            = "#{@hotel.HotelSummary['city'] + ','}"
            = @hotel.city.country.name
        .price-info
          %p
            from
            %b
              = "#{'$' + number_with_precision(@hotel.HotelSummary['lowRate'], :precision => 0)}"
            per night
        .image-carousel
          #galleria
            - images = @hotel.HotelImages['HotelImage']
            - images.each do |image|
              %img{:src => image['url']}
        .hotel-divider
        .hotel-description
          = CGI::unescapeHTML(@hotel.HotelDetails['propertyDescription']).html_safe
        .hotel-description
          %p
            %b Hotel Policy:
            %br
            = CGI::unescapeHTML(@hotel.HotelDetails['hotelPolicy']).html_safe
        .hotel-description
          %p
            %b Room Types:
            %br
            - room_types = @hotel.RoomTypes['RoomType']
            %ul
            - if room_types.class == Array
              - room_types.each do |type|
                %li
                  = type['description'].to_s
            - else
              %li
                = room_types['description']
        .hotel-description
          %p
            Number of floors: #{@hotel.HotelDetails['numberOfFloors']},
            Number of rooms: #{@hotel.HotelDetails['numberOfRooms']}

    .span3.date-picker
      .date-picker-content
        %p
          Search Hotel Availability
