.container-fluid
  .row-fluid
    .span12
      %ol.breadcrumb
        %li= link_to 'Home', root_path
        %li= link_to 'Countries', countries_path
        %li= link_to @city.country.name, country_path(@city.country)
        %li.active
          = @city.name
  .row-fluid
    .span12
      %h1 Hotels in #{@city.name}
    - if @hotels
      .row-fluid
        .span12
        %ul
          - @hotels.each do |hotel|
            %li
              = link_to CGI::unescapeHTML(hotel.HotelSummary['name']), hotel_path(hotel)
    - else
      %p
        Sorry, no hotels could be found.

