!!!
%html
  %head
    %title Luxhotels
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,700'
    = csrf_meta_tags
    = yield :head
  %body
    = render partial: 'shared/header'
    .content
      - if flash[:notice]
        .container-fluid.flash
          .row-fluid
            .span12
              .alert.alert-success= flash[:notice]
      - if flash[:error]
        .container-fluid.flash
          .row-fluid
            .span12
              .alert.alert-info= flash[:error]
      = yield
    = render partial: 'shared/footer'

    = javascript_include_tag 'application'
    = yield :javascript
